*
{
    margin: 0;
    padding: 0;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light;
    color: rgba(0, 0, 0, 0.936);
    background-color: #ffffffe3;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: left;
    min-width: 320px;
    min-height: 100vh;
  }

.SceneBody {
    
    height: 80%;
    
}


.webgl
{
    position: static;
    top: 0;
    left: 0;
    outline: none;
    height: 10%;

}
 /*
.loading-bar
{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 5px;
    background: #ffffff;
    transform: scaleX(0.3);
    transform-origin: top left;
    transition: transform 0.5s;
}
*/
.loading-bar.ended
{
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

.point
{
    position: absolute;
    top: 50%;
    left: 50%;
    /* pointer-events: none; */
}

.point .label
{
    position: absolute;
    top: 60px;
    left: -20px;
    /*width: 40px;*/
    /*height: 40px;*/
    padding-top: 0px;
    padding-left:  5px;
    padding-right: 5px;
    padding-bottom: -1px;
    border-radius: 4px;
    background: #d0c4c4df;
    border: 1px solid #ffffff77;
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 20px;
    font-weight: 100;
    font-size: 12px;
    cursor: help;
    transform: scale(0, 0);
    transition: transform 0.5s;
}

.point .text
{
    position: absolute;
    top: 95px;
    left: -120px;
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background: #dbdbdbe7;
    border: 1px solid #ffffffbe;
    color: #000000;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.8s;
    pointer-events: none;
}

.point:hover .text
{
    opacity: 1;
}

.point.visible .label
{
    transform: scale(1, 1);
}

  

/* menu bar */
nav {
    position: absolut;
    width: 100%;
    height: 65px;
    padding: 0;
    background-color: #273457;
    color: #fff;
}
/* (menu) */
ul{
}
  
  /* text box (menu) */
ul li {
    margin: 0;
    padding: 0;
    /*vertical-align: middle;*/
    line-height: 60px;
    list-style:  none;      /*  */
    float: left;            /* no caps */
    display: inline-block;  /* next to each other */
    display: block;         /* so the text is in a all clickable block */
}
  
  /* text (menu) */
  ul li a {
    text-decoration: none; /* links do not have underlines anymore */
    font-size: 20px;
    color:aliceblue;
    padding: 20px;
  }
  
  /* checkbox for burger menu */
  .checkbtn{
    text-decoration: none; /* links do not have underlines anymore */
    font-size: 20px;
    color: white;
    cursor: pointer;
    color:rgb(133, 3, 3);
  }
  
.burgerMenuText{
    text-decoration: none; /* links do not have underlines anymore */
    font-size: 20px;
    font-style: normal;
    color:rgb(255, 255, 255);
    padding: 20px;
}


  #check{
    display: none;
  }
  #check:checked ~ .nav-mobile{display: block ;}
  
  #check2{
    display: none;
  }
  #check2:checked ~ .nav-mobileUp{display: block;}
  
  /* Burger menu*/
  .nav-mobile {
    display: none;
    position: absolute;
    top: 65px;
    margin-left: 310px;
    overflow: hidden;
    background: #95aac8;
    z-index: 1;
    width: 200px;
  }
  
  .nav-mobileUp{
    display: none;
    position: absolute;
    bottom: 60px;
    margin-left: 170px;
    overflow: hidden;
    background: #95aac8;
    z-index: 1;
    width: 200px;
  }
  .nav-mobileUp a {
    text-decoration: none;
    color: #fdfdfd;
    padding: 1rem 1.5rem;
    display: block;
  }
  
  /* text in burger menu*/
  .nav-mobile a {
    text-decoration: none;
    color: #fdfdfd;
    padding: 1rem 1.5rem;
    display: block;
  }

/* styl for text page*/
.sheet {
    background-color: rgb(230, 236, 236);
    padding-right: 70pt;
    padding-left: 50pt;
    padding-bottom: 100pt;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar{
    background-color: rgb(255, 255, 255);
    padding-right: 15pt;
    padding-left: 15pt;
    
    display: flex;
    flex-direction: column;
  }